(
    palette: Dark((
        name: "stylix-dark",
        bright_red: (
    red: 0.984314,
    green: 0.286275,
    blue: 0.203922,
    alpha: 1.000000,
),
        bright_green: (
    red: 0.721569,
    green: 0.733333,
    blue: 0.149020,
    alpha: 1.000000,
),
        bright_orange: (
    red: 0.996078,
    green: 0.501961,
    blue: 0.098039,
    alpha: 1.000000,
),
        gray_1: (
    red: 0.235294,
    green: 0.219608,
    blue: 0.211765,
    alpha: 1.000000,
),
        gray_2: (
    red: 0.313725,
    green: 0.286275,
    blue: 0.270588,
    alpha: 1.000000,
),
        neutral_0: (
    red: 0.156863,
    green: 0.156863,
    blue: 0.156863,
    alpha: 1.000000,
),
        neutral_1: (
    red: 0.235294,
    green: 0.219608,
    blue: 0.211765,
    alpha: 1.000000,
),
        neutral_2: (
    red: 0.313725,
    green: 0.286275,
    blue: 0.270588,
    alpha: 1.000000,
),
        neutral_3: (
    red: 0.400000,
    green: 0.360784,
    blue: 0.329412,
    alpha: 1.000000,
),
        neutral_4: (
    red: 0.741176,
    green: 0.682353,
    blue: 0.576471,
    alpha: 1.000000,
),
        neutral_5: (
    red: 0.835294,
    green: 0.768627,
    blue: 0.631373,
    alpha: 1.000000,
),
        neutral_6: (
    red: 0.921569,
    green: 0.858824,
    blue: 0.698039,
    alpha: 1.000000,
),
        neutral_7: (
    red: 0.921569,
    green: 0.858824,
    blue: 0.698039,
    alpha: 1.000000,
),
        neutral_8: (
    red: 0.921569,
    green: 0.858824,
    blue: 0.698039,
    alpha: 1.000000,
),
        neutral_9: (
    red: 0.984314,
    green: 0.945098,
    blue: 0.780392,
    alpha: 1.000000,
),
        neutral_10: (
    red: 0.984314,
    green: 0.945098,
    blue: 0.780392,
    alpha: 1.000000,
),
        accent_blue: (
    red: 0.513725,
    green: 0.647059,
    blue: 0.596078,
    alpha: 1.000000,
),
        accent_indigo: (
    red: 0.513725,
    green: 0.647059,
    blue: 0.596078,
    alpha: 1.000000,
),
        accent_purple: (
    red: 0.827451,
    green: 0.525490,
    blue: 0.607843,
    alpha: 1.000000,
),
        accent_pink: (
    red: 0.827451,
    green: 0.525490,
    blue: 0.607843,
    alpha: 1.000000,
),
        accent_red: (
    red: 0.984314,
    green: 0.286275,
    blue: 0.203922,
    alpha: 1.000000,
),
        accent_orange: (
    red: 0.996078,
    green: 0.501961,
    blue: 0.098039,
    alpha: 1.000000,
),
        accent_yellow: (
    red: 0.980392,
    green: 0.741176,
    blue: 0.184314,
    alpha: 1.000000,
),
        accent_green: (
    red: 0.721569,
    green: 0.733333,
    blue: 0.149020,
    alpha: 1.000000,
),
        accent_warm_grey: (
    red: 0.741176,
    green: 0.682353,
    blue: 0.576471,
    alpha: 1.000000,
),
        ext_warm_grey: (
    red: 0.741176,
    green: 0.682353,
    blue: 0.576471,
    alpha: 1.000000,
),
        ext_orange: (
    red: 0.996078,
    green: 0.501961,
    blue: 0.098039,
    alpha: 1.000000,
),
        ext_yellow: (
    red: 0.980392,
    green: 0.741176,
    blue: 0.184314,
    alpha: 1.000000,
),
        ext_blue: (
    red: 0.556863,
    green: 0.752941,
    blue: 0.486275,
    alpha: 1.000000,
),
        ext_purple: (
    red: 0.827451,
    green: 0.525490,
    blue: 0.607843,
    alpha: 1.000000,
),
        ext_pink: (
    red: 0.827451,
    green: 0.525490,
    blue: 0.607843,
    alpha: 1.000000,
),
        ext_indigo: (
    red: 0.513725,
    green: 0.647059,
    blue: 0.596078,
    alpha: 1.000000,
),
    )),
    spacing: (
        space_none: 4,
        space_xxxs: 8,
        space_xxs: 12,
        space_xs: 16,
        space_s: 24,
        space_m: 32,
        space_l: 48,
        space_xl: 64,
        space_xxl: 128,
        space_xxxl: 160,
    ),
    corner_radii: (
        radius_0: (0.0, 0.0, 0.0, 0.0),
        radius_xs: (4.0, 4.0, 4.0, 4.0),
        radius_s: (8.0, 8.0, 8.0, 8.0),
        radius_m: (16.0, 16.0, 16.0, 16.0),
        radius_l: (32.0, 32.0, 32.0, 32.0),
        radius_xl: (160.0, 160.0, 160.0, 160.0),
    ),
    neutral_tint: Some((
    red: 0.835294,
    green: 0.768627,
    blue: 0.631373,
)),
    bg_color: Some((
    red: 0.156863,
    green: 0.156863,
    blue: 0.156863,
    alpha: 1.000000,
)),
    primary_container_bg: None,
    secondary_container_bg: None,
    text_tint: Some((
    red: 0.835294,
    green: 0.768627,
    blue: 0.631373,
)),
    accent: Some((
    red: 0.513725,
    green: 0.647059,
    blue: 0.596078,
)),
    success: Some((
    red: 0.721569,
    green: 0.733333,
    blue: 0.149020,
)),
    warning: Some((
    red: 0.980392,
    green: 0.741176,
    blue: 0.184314,
)),
    destructive: Some((
    red: 0.984314,
    green: 0.286275,
    blue: 0.203922,
)),
    is_frosted: false,
    gaps: (0, 15),
    active_hint: 1,
    window_hint: None,
)
